/* Navigation menu */

nav {
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 40px, rgba(0, 0, 0, 0.1) 0 5px 10px;
    transition: box-shadow 0.25s;
  }
  
/* Buttons and links */
  
  .btn {
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5.5rem;
    padding: 0.5rem 1.5rem;
    border-width: 2px;
    font-size: 0.9375rem;
  }
  
  .btn-primary {
    background-color: #d60e96;
    border-color: #d60e96;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #b20c7d;
    border-color: #a60b74;
  }
  
  .text-black {
    color: #000;
  }
  
  nav .navbar-nav li.nav-item .top-link.active,
  nav .navbar-nav li.nav-item .top-link:hover {
    text-decoration: none;
    color: #000;
  }
  
  nav .navbar-nav li.nav-item {
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }
  
  nav .navbar-nav li.nav-item .top-link.active::before,
  nav .navbar-nav li.nav-item .top-link:hover::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 16px;
    width: 100%;
    height: 3px;
    background: #d60e96;
  }
  
  .btn-white {
    color: #212529;
    background-color: #fff;
    border-color: #fff;
  }
  
  .btn-white:hover {
    color: #212529;
    background-color: #ececec;
    border-color: #e6e6e6;
  }
  
  nav .navbar-nav li .dropdown li a {
    text-decoration: none;
    font-weight: 600;
  }
  
  .text-white {
    color: #fff;
  }
  
  a.text-white:hover {
    color: #d9d9d9;
  }
  
  /* Dropdown Menu */
  
  nav .navbar-nav li .dropdown {
    opacity: 0;
    visibility: hidden;
    width: 202px;
    top: 100%;
    line-height: 2.8;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }
  
  nav .navbar-nav li.nav-item:last-of-type:hover .dropdown {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  
  }
  
  .dropdown {
    top: 100%;
    line-height: 2.8;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
    background-color: #d60e96;
    right: 0;
  }
  
  /* Hamburger Menu */
  
  .menu-hamburger {
    bottom: calc(50% - 10px);
    right: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .menu-hamburger span {
    width: 30px;
    height: 4px;
    background: #3d5d6f;
    display: block;
    margin-bottom: 4px;
  }
  
  .menu-hamburger span:nth-child(2) {
    background-color: #d60e96;
  }
  
  /* Media Queries */
  
  @media (min-width: 1200px) {
    html .w-xl-600p {
      width: 600px;
    }
  }
  
  @media (min-width: 768px) {
    html .w-md-550p {
      width: 550px !important;
    }
  }
  
  @media (min-width: 576px) {
    .menu-hamburger {
      bottom: calc(50% - 14px);
    }
  }  